@import './_variables';
@import './_mixins';
@import './root';

header {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding : $padding;
	position: relative;

	.header__left {
		display: flex;
		align-items: center;

		.hamburger {
			display : flex;
			flex-direction: column;
			gap : 3px;
			cursor: pointer;

			div {
				width: 25px;
				height: 3px;
				background-color: #000;
			}

			@include mQ($tablet) {
				display: none;
			}
		}
		.tabletNav {
			display: none;
			ul {
				display: flex;
				align-items: center;
				gap : 1em;
			}

			li {
				font-family: $main_font;
				font-size: 1.3em;
				cursor: pointer;
			}

			a {
				color: $font_color;
				text-decoration: none;
			}
	
			@include mQ($tablet) {
				display: block;
			}
		}
	}

	.header__right {

		img {
			width : 50px;
			height : 50px;
			border-radius: 50%;

			@include mQ($tablet) {
				width : 80px;
				height : 80px;
			}
		}
	}

}
.sidebar {
	display: none;

	#close {
		position : relative;
		right : 2em;
		cursor: pointer;
		font-size: 2em;
	}
}

.sidebar.active {
	display: block;
	position: fixed;
	z-index: 999;
	left : 0;
	top : 0;
	width : 10em;
	height : 50%;
	padding : $padding;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;

	ul {
		margin-top: 5em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap : 1em;

		li {
			font-family: $main_font;
			color : $font_color;
			font-size : 1em;
			cursor: pointer;
		}	
	} 
	.socMedContainer {
		margin-top: 1em;
		display: flex;
		gap : 1em;

		ion-icon {
			font-size: 1.5em;
			cursor: pointer;
		}
	}
}

.hiddenContact {
	display: none;
	gap : .8em;
	position: absolute;
	top : 4.5em;
	left : 16.2em;
	z-index: 999;

	ion-icon {
		font-size: 1.5em;
		cursor: pointer;
	}
}
.hiddenContact.active {
	display: flex;
}



main {

	#map {
		width : 100%;
		height : 80vh;
		background-color: #fafafa;
	}

	#geocoder-container > div {
        min-width: 50%;
        margin-left: 25%;
    }

	.dayFilter {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		position: relative;
		bottom : 3em;
		max-width: 50em;

		.day__item {
			width : 100%;
			background-color: transparent;
			text-align: center;
			padding : $padding;
			font-family: $main_font;
			color : $font_color;
			cursor: pointer;
		}
	}

	.information {
		padding : $padding;

		h1 {
			font-size: 1.5em;
			text-align: center;
		}

		h1,p {
			font-family: $main_font;
			color : $font_color;
		}

		.infoContainer {
			margin-top: 1em;
			display : grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(4, 1fr);
			gap : 1em;
			font-size: 12px;
		}

		p {
			font-size: 1.2em;
			
			@include mQ($tablet) {
				font-size: 1.5em;
			}
		}
	}
}

footer {
	background-color: #230534;
	padding : $padding;
	color : #fff;
	font-family: $main_font;
}